<h1 class="display-5">Telegram Bots</h1>
<p class="lead">Serve and manage all your telegram bots from one place in 3 easy steps.</p>
<ol class="lead">
    <li>
        Register your bot with <a href="https://telegram.me/BotFather" target="_blank">BotFather</a> and get the API token.
    </li>
    <li>
        Sing up for a free account at <a href="{% url "signup" %}">Sign Up</a> with just username and password.
    </li>
    <li>
        Enter the name and API token of your bot and click on <strong>Add</strong>.
    </li>
</ol>
