[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "==4.0.0"
daphne = "==4.0.0"
django = "==5.0.1"
djangorestframework = "==3.14.0"
django-htmx = "==1.17.2"
tzdata = "*"
openai = "==1.25.1"

[dev-packages]
ruff = "*"
black = "*"
djlint = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3"
