[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "==4.3.1"
daphne = "==4.2.1"
django = "==5.2.5"
djangorestframework = "==3.16.1"
django-htmx = "==1.23.2"
tzdata = "2025.2"
openai = "==1.101.0"

[dev-packages]
ruff = "*"
black = "*"
djlint = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3"
