<div class="col-md-3 overflow-scroll" style="max-height:70dvh">
    <ul class="list-group list-group-flush">
        {% for bot in bot_list %}
            <a href="{% url "chat_list" bot.pk %}"
               class="list-group-item list-group-item-action">{{ bot.name }}</a>
        {% empty %}
            <li class="list-group-item list-group-item-warning list-group-item-action">No bots yet</li>
        {% endfor %}
    </ul>
</div>
<div class="col-md-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Add a new bot</h3>
            <form hx-post=""
                  hx-target="#bot-list"
                  hx-trigger="submit"
                  hx-indicator=".progress">
                {% csrf_token %}{{ form.as_p }}
                <button type="submit" class="btn btn-warning">Add</button>
            </form>
        </div>
    </div>
</div>
