<h1 class="display-5">Setting for {{ bot.name }}</h1>
<p class="lead mb-0">Manage your bot here</p>
<nav class="navbar">
    <div class="nav-item">
        {% url "chat_list" bot.pk as prev_page %}
        {% include "includes/back_btn.html" %}
    </div>
</nav>
<div class="mb-4 row">
    <div class="col-md-3 overflow-scroll" style="max-height:65dvh">
        <div class="card rounded-0  mb-4">
            <div class="card-body">
                <h2 class="card-title">Bot Info</h2>
                <p>
                    <strong>Name:</strong>
                    <br>
                    {{ bot.name }}
                </p>
                <p>
                    <strong>Token:</strong>
                    <br>
                    <code>{{ bot.auth_token }}</code>
                </p>
                <p>
                    <strong>Created at:</strong>
                    <br>
                    {{ bot.created_at }}
                </p>
                <p>
                    <strong>Auto response is:</strong>
                    {% if bot.auto_response %}
                        <span class="badge bg-success">Enabled</span>
                    {% else %}
                        <span class="badge bg-danger">Disabled</span>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="rounded-0  mb-4">
            <ul class="list-group list-group-flush border rounded-0">
                <li class="list-group-item list-group-item-action"
                    hx-patch=""
                    hx-swap="innerHTML"
                    hx-target="#bot_detail_replace"
                    hx-indicator=".progress"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    {% if bot.auto_response %}
                        Disable Auto Response
                    {% else %}
                        Enable Auto response
                    {% endif %}
                </li>
                <li class="list-group-item list-group-item-action">Delete Bot</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9 overflow-scroll mb-4">
        <div class="card rounded-0" style="height:65dvh">
            <div class="card-body">
                <h2 class="card-title">Auto Response</h2>
                {% if bot.predictor %}
                    <textarea class="form-control" rows="5" readonly>{{ bot.predictor.context }}</textarea>
                {% else %}
                    <p class="text-muted">Chat GPT is not connected to this bot</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ predictor_form.as_p }}
                        <button class="btn btn-primary">Connect Chat GPT</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
