<div id="chat-log" class="overflow-scroll" style="height:80dvh">
    {% for message in message_list %}
        {% if user.username == message.sender.username %}
            <div class="chat-bubble user-message">
            {% else %}
                <div class="chat-bubble other-message">
                    {{ message.sender }}:
                    <br>
                {% endif %}
                {{ message.text }}
            </div>
        {% endfor %}
    </div>
    <div class="input-group my-4">
        <textarea type="text"
                  rows="1"
                  id="chat-message-input"
                  class="form-control"
                  placeholder="Type your message..."
                  aria-label="Type your message..."
                  aria-describedby="send-button"></textarea>
        <button id="send-button" class="btn btn-outline-warning" type="button">Send</button>
    </div>
</div>
