<script>
    let maxTry = 3;
    const chatPk = "{{ chat_selected.pk }}";
    const username = "{{ user.username }}";
    const messageList = document.querySelector('#message-list');
    const scrollChatLog = () => {
        messageList.scrollTop = messageList.scrollHeight;
    };
    const chatMessageInput = document.querySelector('#chat-message-input');
    const chatSendButton = document.querySelector('#send-button');

    const appendMessage = (type, text, sender) => {
        const messageDiv = document.createElement('div');
        if (type === 'system_notification') {
                messageDiv.classList.add('chat-message', "system", "small", "text-muted");
                messageDiv.innerText = text;
        } else if (type === 'bot_message') {
                messageDiv.classList.add('chat-message', "bot");
                messageDiv.innerText = sender + ':\n' + text;
        } else {
                if (sender === username) {
                        messageDiv.classList.add('chat-message', 'self');
                        messageDiv.innerText = text;
                } else {
                        messageDiv.classList.add('chat-message', 'other');
                        messageDiv.innerText = sender + ':\n' + text;
                }
        }
        messageList.appendChild(messageDiv);
        scrollChatLog();
    };

    const connectWebSocket = () => {
            if (chatPk === '') {
                    return;
            }
            const isHTTPS = window.location.protocol === "https:";
            const chatSocket = new WebSocket(
                    (isHTTPS ? 'wss://' : 'ws://') + window.location.host + '/ws/chat/' + chatPk + '/'
            );

            scrollChatLog();

            chatSocket.onmessage = function (e) {
                    const data = JSON.parse(e.data);
                    appendMessage(data.type, data.text, data.sender);
            };

            chatSocket.onclose = function (e) {
                // reconnect
                        console.error('Chat socket closed unexpectedly');
                        if (maxTry > 0) {
                                setTimeout(connectWebSocket, 1000);
                                maxTry--;
                        } else {
                                appendMessage('system_notification', 'Chat socket closed unexpectedly. Please refresh the page.');
                        }


            };

            chatMessageInput.focus();
            chatMessageInput.onkeyup = function (e) {
                    if (e.keyCode === 13) {
                            chatSendButton.click();
                    }
            };

            chatSendButton.onclick = function (e) {
                    const text = chatMessageInput.value;
                    if (text.trim() === '') {
                            return;
                    }
                    chatSocket.send(JSON.stringify({
                            'text': text
                    }));
                    chatMessageInput.value = '';
            };
    };
    
    connectWebSocket();
</script>
