{% extends "_base.html" %}
{% block main_content %}
    <div class="container">
        {% if bot %}
            {% url "bot_list" as prev_page %}
            {% include "includes/back_btn.html" %}
            <h1 class="display-5">{{ bot.name }}</h1>
            <p class="lead">Select a chat to view the conversation</p>
        {% elif chat_selected %}
            {% url "chat_list" chat_selected.bot.pk as prev_page %}
            {% include "includes/back_btn.html" %}
            <h1 class="display-5">Chat with {{ chat_selected.sender }}</h1>
            <p class="lead">History of your conversation</p>
        {% endif %}
        <div class="row">
            <div class="col-md-3">{% include "dtb/includes/chat_list.html" %}</div>
            <div class="col-md-9">
                {% if chat_selected %}
                    {% include "dtb/includes/message_list.html" %}
                {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-warning list-group-item-action">Select a chat to view the conversation</li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
